<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>

  <body>
    <h2>TODO LIST</h2>
    <div id="app">
      <div id="header">
        <input type="text" id="todoinput" class="form-control" v-on:keyup.enter="add" v-model="newItemTitle" />
        <input type="button" class="btn btn-primary" value="ADD" v-on:click="add" />
        <input type="button" class="btn btn-warning" value="CLEAR COMPLETED" v-on:click="clearCompleted" />
        <input type="button" class="btn btn-danger" value="CLEAR ALL" v-on:click="clearAll" />
      </div>

      <ul id="todolist" class="list-group">
        <li class="list-group-item" v-for="item in items">
          <label v-bind:class="{done: item.isChecked}"> <input type="checkbox" v-model="item.isChecked" />{{ item.title }} </label>
        </li>
      </ul>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script type="text/javascript" src="main.js"></script>
  </body>
</html>
